StackLayout {
  margin-left: 30;
  margin-right: 30;
  padding-bottom: 15;
  background-color: #fff;
}

Button,TextField {
  margin-left: 16;
  margin-right: 16;
  margin-bottom: 10;
}

Image {
  margin-top:5;
  margin-bottom: 20;
}

.submit-button {
  background-color: #CB1D00;
  color: #fff;
  margin-top: 20;
}